tr{
    cursor: pointer;
}

.custom_table {
    margin: 0 auto !important;
    width: 100% !important;
    clear: both !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    word-wrap:break-word !important;
  }